
{% macro error_component(name) %}
    <div class="text-sm text-red-600 hidden">
        Le champ {{ name }} entre est incorrect
    </div>
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="flex justify-center">
        <div class="max-w-6xl w-full p-8">
            <form 
                action="{{ url_for('store') }}" 
                method="post"
                class="space-y-5"
                x-data="{
                    nom: '',
                    espece: '',
                    race: '',
                    age: '',
                    description: '',
                    courriel: '',
                    adresse: '',
                    cp: '',
                    ville: ''
                }"
            >
                <div class="flex flex-col">
                    <label for="nom">Nom</label>
                    <input x-model="nom" id="nom" name="nom" type="text">
                    {{ error_component('nom') }}
                </div>
                <div class="flex flex-col">
                    <label for="espece">Espece</label>
                    <input x-model="espece" id="espece" name="espece" type="text">
                    {{ error_component('espece') }}
                </div>
                <div class="flex flex-col">
                    <label for="race">Race</label>
                    <input x-model="race" id="race" name="race" type="text">
                    {{ error_component('race') }}
                </div>
                <div class="flex flex-col">
                    <label for="age">Age</label>
                    <input x-model="age" id="age" name="age" type="text">
                    {{ error_component('age') }}
                </div>
                <div class="flex flex-col">
                    <label for="description">Description</label>
                    <!-- <input id="description" name="description" type="text"> -->
                    <textarea x-model="description" name="description" id="description"></textarea>
                    {{ error_component('description') }}
                </div>
                <div class="flex flex-col">
                    <label for="courriel">Courriel</label>
                    <input x-model="courriel" id="courriel" name="courriel" type="text">
                    {{ error_component('courriel') }}
                </div>
                <div class="flex flex-col">
                    <label for="adresse">Adresse</label>
                    <input x-model="adresse" id="adresse" name="adresse" type="text">
                    {{ error_component('adresse') }}
                </div>
                <div class="flex flex-col">
                    <label for="ville">Ville</label>
                    <input x-model="ville" id="ville" name="ville" type="text">
                    {{ error_component('ville') }}
                </div>
                <div class="flex flex-col">
                    <label for="cp">Code postal</label>
                    <input x-model="cp" id="cp" name="cp" type="text">
                    {{ error_component('Code postal') }}
                </div>

                <div>
                    <button 
                        class="text-gray-50 py-3 px-4 border-sky-600 border-2 bg-sky-600 hover:text-sky-600 hover:bg-gray-50 hover:font-semibold transition duration-100 ease-in-out"
                    >
                        Envoyer
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/app.js"></script>
</body>
</html>